/* Id */

/* Class */
.contain{
    margin: 10px 30px;
}

.place{
  border-radius: 10px;
  /* background-color: #ff5252; */
  margin: 10px;
  padding: 10px;
}

/* Img slider */
.img{
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 25%; 
}

.img-comp-container {
  left: inherit;
  position: relative;
  height: 400px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  z-index: 0;
}

.img-comp-slider {
  position: absolute;
  z-index: 1;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}